/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lanto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Barlow', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
/*
  .container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }

  */
header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-content: flex-end;
  background-color: #E7E3D6;
}
#headerLogo {
  margin: 0 0 0 40px;
}
nav a {
  font-size: 2rem;
  padding: 3rem;
  background-color: #E7E3D6;
  border: solid #E7E3D6;
  border-radius: 5px;
  color: #191A2A;
  padding: 15px 32px;
  text-align: end;
  display: inline-block;
  font-size: 16px;
  font-family: barlow, sans-serif;
  font-weight: bold;
  margin: 4px 2px;
  text-decoration: none;
}
.heroCall {
  position: relative;
  text-align: left;
  color: #E7E3D6;
  font-size: 3rem;
}
.btmLftP {
  position: absolute;
  bottom: 700px;
  left: 40px;
  line-height: 5rem;
}
.btn {
  position: absolute;
  bottom: 300px;
  left: 100px;
  background-color: #E7E3D6;
  border: solid #E7E3D6;
  border-radius: 5px;
  color: #191A2A;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: barlow, sans-serif;
  font-weight: bold;
  margin: 4px 2px;
}
header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
nav {
  font-size: 2rem;
  color: #818f91;
  padding: 0.5rem;
}
