header {
    .flexCenter(); 
    justify-content: space-between;
    align-content: flex-end;
    background-color: @satin; 
    //padding: 2rem; 

}

#headerLogo {
    margin: 0 0 0 40px;  
}

nav a {
    font-size: 2rem;
    padding: 3rem;
    background-color: @satin;
    border:  solid @satin;
    border-radius: 5px;
    color: @midnight;
    padding: 15px 32px;
    text-align: end;
    display: inline-block;
    font-size: 16px;
    font-family: barlow, sans-serif;
    font-weight: bold;
    margin: 4px 2px;
    text-decoration: none;
}


